body {
    background-color: red;
    font-family: Arial;
}

p {
    font-size: bold;
}


.eye {
    /* background-color: green; */
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.arm {
    background-color: palevioletred;
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
}

#head {
    border-style: solid hidden hidden;
    border-top: 50%;
    border-top-color: blueviolet;
    width: 30%;
    height: 30%;
    border-radius: 15%;
    background-color: #dadada;
    position: absolute;
    left: 33%;
    top: 5%;
}

#righteye {
    background-color: blue;
    position: absolute;
    left: 20%;
    top: 10%;
}

#lefteye {
    background-color: black;
    position: absolute;
    left: 55%;
    top: 20%;
}

#nose {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
    height: 10%;
    background-color: black;
}

#mouth {
    position: absolute;
    width: 65%;
    height: 15%;
    left: 20%;
    top: 70%;
    background-color: red;
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 55%;
    background-color: #dadada;
    text-align: center;
    padding-top: 30px;
}

#rightarm {
    position: absolute;
    left: 21%;
}

#leftarm {
    position: absolute;
    right: 3%;
    width: 27%;
    height: 4%;
}